
@mixin flexy ($fdirection: column, $disp:null) {
display: $disp;
flex-direction:$fdirection;
@content;
}

@mixin media {
  @media(min-width: $large-breakpoint ){
    @content;
  }
}

@mixin text($font-size: null, $text-color: $primary-text-color){
  font-size: $font-size;
  color:$text-color;
  line-height: 30px;
  text-align: left;
  @content;
}
@mixin btn-style{
  padding: 10px;
  font-size: 1.125rem;
  border-style:none;
  border-radius: $btn-radius;
}
@mixin button-color ($back-color){
  background-color: $back-color;
  color: $button-text-color;
}
