[class = "grid__row"]:nth-of-type(5) {
  .grid__col--12 {
    @include flexy($disp: flex);
    @include media {
      @include flexy($fdirection: row) {
        justify-content: space-around;
      }
    }

    [class^="btn"] {
      @extend %btn;
      margin-bottom: 25px;
      @include media {
        flex-basis: 15%;
      }
    }
  }
}

.btn {
  &--default {
    @include button-color($default);
  }

  &--success {
    @include button-color($success);
  }

  &--error {
    @include button-color($error);
  }

  &--warning {
    @include button-color($warning);
  }

  &--info {
    @include button-color($info);
  }
}
