.nav{
  padding-left: 0;
  &__item{
    @extend %nav__item;

    &:hover {
      background-color: $primary-color;
      border-radius: $btn-radius;
      color: $button-text-color;
    }
    & a:visited, & a:link{
      color: inherit;
    }
  }
}
.card p {
  @include text(1.125rem)
}
